* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::selection {
  background-color: $rmg-red-trans;
  color: #fff;
}

body {
  background-color: $off-white;
  font-family: $mono;
  color: $rmg-black;
}

.container-wrapper {
  width: 65%;
  margin: 0 auto;

  @include breakpoint(big) {
    width: 80%;
  }

  @include breakpoint(medium-small) {
    width: 100%;
  }
}

.container {
  display: grid;
  width: 100%;
  grid-template-columns: minmax(250px, 15%) auto;
  grid-template-areas: "header main";
  grid-column-gap: 15%;
  margin-top: 5em;

  @include breakpoint(big) {
    grid-column-gap: 10%;
  }

  @include breakpoint(medium-small) {
    display: block;
    margin-top: 2em;
  }
}

.red-bar--top,
.red-bar--bottom {
  position: fixed;
  width: 100%;
  height: 30px;
  background-color: $rmg-red;
  background-size: 1930px;
  z-index: 2000;
}

.red-bar--top {  
  top: 0;

  @include breakpoint(medium-small) {
    z-index: -10;
    position: absolute;
    height: calc(150px / 2 + 2em);
    background-image: url(/img/bar-background-top.png);
    background-size: cover;
  }

  @media screen and (max-width: 375px) {
    background-position-x: -70px;
  }
}

.red-bar--bottom {
  bottom: 0;

  @include breakpoint(medium-small) {
    display: none;
  }
}

h1,
h2,
h3,
h4 {
  font-family: $sans;
}

h1 {
  font-size: 1.8em;
  margin: 1em 0 .5em 0;

  @include breakpoint(small) {
    margin: .5em 0 .2em 0;
  }
}

li {
  list-style-type: none;
  margin-block-start: 0;
  padding-inline-start: 0;
}

p {
  margin-bottom: 1em;
  letter-spacing: -.5px;
}