.gallery {
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  grid-template-rows: auto;
  grid-gap: .6em;
  margin-bottom: 6em;

  @include breakpoint(medium) {
    display: block;
  }

  &__item {
    position: relative;
    overflow: hidden;
    cursor: pointer;
  }

  &__item--1 {
    grid-column-start: span 6;
  }

  &__item--2 {
    grid-column-start: span 5;
  }

  &__item--3 {
    grid-column-start: span 5;
  }

  &__item--4 {
    grid-column-start: span 6;
  }

  &__item--5 {
    grid-column-start: span 11;
  }

  &__item--6 {
    grid-column-start: span 4;
  }

  &__item--7 {
    grid-column-start: span 7;
  }

  &__item--8 {
    grid-column-start: span 5;
  }

  &__item--9 {
    grid-column-start: span 6;
  }

  &__item--10 {
    grid-column-start: span 6;
  }

  &__item--11 {
    grid-column-start: span 5;
  }

  &__item--12 {
    grid-column-start: span 5;
  }

  &__item--13 {
    grid-column-start: span 6;
  }

  &__item--14 {
    grid-column-start: span 11;
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__caption {
    background-color: $rmg-red-trans;
    position: absolute;
    width: 100%;
    padding: 1em;
    bottom: -20%;
    color: #fff;
    transition: .2s ease;
    opacity: 0;

    @include breakpoint(medium) {
      opacity: 1;
      position: relative;
      top: -7px;
      margin-bottom: 1em;
      background-color: $rmg-red;
    }
  }

  .gallery__item:hover .gallery__caption {
    opacity: 1;
    bottom: 0;
  }

  //////// MODAL ////////

  &__modal {
    background-color: $off-white;
    display: none;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-bottom: 4em;
    overflow-y: scroll;

    @include breakpoint(small) {

      &:after {
        content: "";
        background-color: #fdfdfde5;
        position: fixed;
        height: 2.2em;
        width: 2.2em;
        top: 1.2em;
        right: 1.2em;
        border-radius: 100%;
      }
    }

    &__content {
      max-width: 1100px;
      margin: 0 auto;
      padding: 4em 0 2em 0;
      animation: fade-in-slide-up 0.2s ease-out;

      @include breakpoint(medium-small) {
        max-width: none;
        padding: 2em 3em 2em 3em;
      }

      @include breakpoint(small) {
        padding: 2em 1em 4em 1em;
      }
    }

    &__text {
      max-width: 700px;
      margin: 0 auto;
      margin-bottom: 3em;

      @include breakpoint(medium-small) {
        margin-bottom: 2em;
      }
    }

    &__pics {
      text-align: center;
    }

    &__img {
      width: 51%;
      min-width: 450px;
      margin-bottom: .7em;
      box-shadow: 5px 5px 5px -5px #00000045;

      @include breakpoint(small) {
        width: 100%;
        min-width: 0;
      }
    }

    &__icon-close {
      position: fixed;
      height: 4em;
      top: 3em;
      right: 2em;
      cursor: pointer;
      z-index: 20;

      @include breakpoint(medium-small) {
        height: 2.2em;
        top: 1.2em;
        right: 1.2em;
      }
    }
  }
}

.is-open {
  display: block;
}