.header {
 grid-area: header;
 position: fixed;
 text-align: center;

 @include breakpoint(medium-small) {
  position: static;
 }

 &__icon {
  max-width: 200px;
  margin-bottom: 1em;

  @include breakpoint(medium-small) {
   width: 150px;
  }
 }

 &__title {
  line-height: 1em;
  max-width: 241px;
  margin-bottom: 0.6em;

  @include breakpoint(medium-small) {
   max-width: none;
  }
 }

 &__subtitle {
  color: $rmg-red;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1em;
  letter-spacing: 0.25em;
  top: 20em;

  @include breakpoint(small) {
   letter-spacing: 0.23em;
  }
 }
}

.header__title,
nav {
 text-align: left;

 @include breakpoint(medium-small) {
  text-align: center;
  padding: 0 0.7em;
 }
}

.nav {
 display: block;
 position: fixed;
 top: 33em;

 @include breakpoint(medium-small) {
  margin-top: 3em;
  padding-bottom: 1.2em;
  padding-top: 1em;
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: $off-white;
  box-shadow: 0 4px 3px 0 rgba(255, 0, 0, 0.08);
 }

 @include breakpoint(small) {
  margin-bottom: 2.5em;
 }

 &__menu {

  @include breakpoint(medium-small) {
   display: flex;
   justify-content: space-evenly;
  }

  a {
   color: $rmg-red;

   &:visited {
    color: $rmg-red;
   }
  }
 }
}
