.main {
  grid-area: main;
  justify-content: center;

  @include breakpoint(medium-small) {
    padding: 5em 5em 1em 5em;
  }

  @include breakpoint(small) {
    padding: 1em;
  }

  &__title {
    color: $rmg-red;
    font-size: 1.5em;
    margin-bottom: 1.2em;

  }
}

//////// GALLERY ////////

.gallery {
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  grid-template-rows: auto;
  grid-gap: .6em;
  margin-bottom: 6em;

  @include breakpoint(medium) {
    display: block;
  }

  &__item {
    position: relative;
    overflow: hidden;
    cursor: pointer;
  }

  &__item--1 {
    grid-column-start: span 6;
  }

  &__item--2 {
    grid-column-start: span 5;
  }

  &__item--3 {
    grid-column-start: span 5;
  }

  &__item--4 {
    grid-column-start: span 6;
  }

  &__item--5 {
    grid-column-start: span 11;
  }

  &__item--6 {
    grid-column-start: span 4;
  }

  &__item--7 {
    grid-column-start: span 7;
  }

  &__item--8 {
    grid-column-start: span 7;
  }

  &__item--9 {
    grid-column-start: span 4;
  }

  &__item--10 {
    grid-column-start: span 6;
  }

  &__item--11 {
    grid-column-start: span 5;
  }

  &__item--12 {
    grid-column-start: span 5;
  }

  &__item--13 {
    grid-column-start: span 6;
  }

  &__item--14 {
    grid-column-start: span 11;
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__caption {
    background-color: $rmg-red-trans;
    position: absolute;
    width: 100%;
    padding: 1em;
    bottom: -20%;
    color: #fff;
    transition: .2s ease;
    opacity: 0;

    @include breakpoint(medium) {
      opacity: 1;
      position: relative;
      top: -7px;
      margin-bottom: 1em;
      background-color: $rmg-red;
    }
  }

  .gallery__item:hover .gallery__caption {
    opacity: 1;
    bottom: 0;
  }

  &__modal {
    display: none;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    overflow-y: scroll;

    &__content {
      max-width: 700px;
      margin: 0 auto;
      padding: 4em 0 2em 0;

      @include breakpoint(medium-small) {
        max-width: none;
        padding: 4em 3em 2em 3em;
      }

      @include breakpoint(small) {
        padding: 3.5em 1em 1em 1em;
      }
    }

    &__icon-close {
      position: fixed;
      height: 4em;
      top: 3em;
      right: 2em;
      cursor: pointer;

      @include breakpoint(medium-small) {
        height: 3em;
        top: 1em;
        right: 1em;
      }

      @include breakpoint(small) {
        height: 2em;
      }
    }
  }
}

.is-open {
  display: block;
}

//////// SOBRE MÍ ////////

.sobre-mi {
  height: 125%;

  &__intro-wrapper {
    text-align: center;
    margin-bottom: 2em;
    position: relative;
  }

  &__intro {
    position: relative;
    display: inline-block;
    margin-top: 1em;
  }

 &__intro::after {
    content: "¡Encantada de conocerte!";
    font-family: $script;
    font-weight: 900;
    text-align: left;
    font-size: 2.9em;
    line-height: 1;
    position: absolute;
    width: 300px;
    top: 65%;
    left: 45%;
    color: $rmg-red;
    z-index: 600;
    transform: rotate(-10deg);

    @include breakpoint(small) {
      font-size: 2.5em;
      left: 25%;
      top: 69%;
      width: 205px;
    }
  } 

  &__intro::before {
    content: "";
    width: 99%;
    height: 97.5%;
    border: 2px solid $rmg-black;
    position: absolute;
    left: -15px;
    top: -15px;
    z-index: 400;
  }

  &__img {
    max-width: 300px;
    position: relative;
    z-index: 500;

    @include breakpoint(small) {
      max-width: 200px;
    }
  }
}

.skills {
  margin-top: 3em;

  img {
    width: 40px;
    vertical-align: middle;
  }

  h4 {
    letter-spacing: .3px;
    border-bottom: 2px solid $rmg-red;
    padding-bottom: .5em;
    margin-bottom: 1.5em;
  }
  
  li {
    display: inline-block;
    margin-bottom: 1em;
    width: 200px;
    font-size: .8em;
    text-transform: uppercase;

    @include breakpoint(small) {
      width: 155px;
    }
  }

  &__list {
    margin-bottom: 2.5em;
  }
}

footer {
  color: gray;
  font-size: .75em;
  text-transform: uppercase;
  text-align: center;
  margin-top: 6em;
  margin-bottom: 4em;

  @include breakpoint(medium-small){
    margin-bottom: 0;
  }
}