.main {
  grid-area: main;
  justify-content: center;

  &__title {
    color: $rmg-red;
    font-size: 1.6em;
    margin-bottom: 1.2em;
  }
}

.gallery {
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  grid-template-rows: auto;
  grid-gap: 15px;
  margin-bottom: 200px;

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__item {
    position: relative;
    overflow: hidden;
    cursor: pointer;
  }

  &__item--1 {
    grid-column-start: span 6;
  }

  &__item--2 {
    grid-column-start: span 5;
  }

  &__item--3 {
    grid-column-start: span 5;
  }

  &__item--4 {
    grid-column-start: span 6;
  }

  &__item--5 {
    grid-column-start: span 11;
  }

  &__item--6 {
    grid-column-start: span 4;
  }

  &__item--7 {
    grid-column-start: span 7;
  }

  &__item--8 {
    grid-column-start: span 7;
  }

  &__item--9 {
    grid-column-start: span 4;
  }

  &__item--10 {
    grid-column-start: span 6;
  }

  &__item--11 {
    grid-column-start: span 5;
  }

  &__item--12 {
    grid-column-start: span 5;
  }

  &__item--13 {
    grid-column-start: span 6;
  }

  &__item--14{
    grid-column-start: span 11;
  }
  
  &__caption {
    background-color: $rmg-red-trans;
    position: absolute;
    bottom: -20%;
    width: 100%;
    padding: 1em;
    color: #fff;
    opacity: 0;
    transition: .2s ease;
  }

  .gallery__item:hover .gallery__caption {
    opacity: 1;
    bottom: 0;
  }

  &__modal {
    display: none;
  }
}