// COLORS
$rmg-red: #ff404e;
$rmg-red-trans: #ff404dde;
$rmg-black: #101820;
$off-white: #fdfdfd;


// FONTS
$sans: "Poppins", sans-serif;
$mono: "Space Mono", monospace;
$script: "Damion", sans-serif;