@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

::-moz-selection {
  background-color: #ff404dde;
  color: #fff;
}

::selection {
  background-color: #ff404dde;
  color: #fff;
}

body {
  font-family: "Space Mono", monospace;
  color: #101820;
}

.container-wrapper {
  width: 65%;
  margin: 0 auto;
}

@media screen and (max-width: 1500px) {
  .container-wrapper {
    width: 80%;
  }
}

@media screen and (max-width: 800px) {
  .container-wrapper {
    width: 100%;
  }
}

.container {
  display: -ms-grid;
  display: grid;
  width: 100%;
  -ms-grid-columns: minmax(250px, 15%) auto;
      grid-template-columns: minmax(250px, 15%) auto;
      grid-template-areas: "header main";
  grid-column-gap: 15%;
  margin-top: 5em;
}

@media screen and (max-width: 1500px) {
  .container {
    grid-column-gap: 10%;
  }
}

@media screen and (max-width: 800px) {
  .container {
    display: block;
    margin-top: 2em;
  }
}

.red-bar--top,
.red-bar--bottom {
  position: fixed;
  width: 100%;
  height: 30px;
  background-color: #ff404e;
  z-index: 2000;
}

.red-bar--top {
  top: 0;
}

@media screen and (max-width: 800px) {
  .red-bar--top {
    z-index: -10;
    position: absolute;
    height: calc(150px / 2 + 2em);
  }
}

.red-bar--bottom {
  bottom: 0;
}

@media screen and (max-width: 800px) {
  .red-bar--bottom {
    display: none;
  }
}

h1,
h2,
h3,
h4 {
  font-family: "Poppins", sans-serif;
}

h1 {
  font-size: 1.8em;
}

li {
  list-style-type: none;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
}

p {
  margin-bottom: 1em;
  letter-spacing: -.5px;
}

.header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: header;
  position: fixed;
  text-align: center;
}

@media screen and (max-width: 800px) {
  .header {
    position: static;
  }
}

.header__icon {
  max-width: 200px;
  margin-bottom: 1em;
}

@media screen and (max-width: 800px) {
  .header__icon {
    width: 150px;
  }
}

.header__title {
  line-height: 1em;
  max-width: 241px;
  margin-bottom: 0.6em;
}

@media screen and (max-width: 800px) {
  .header__title {
    max-width: none;
  }
}

.header__subtitle {
  color: #ff404e;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1em;
  letter-spacing: 0.25em;
  top: 20em;
}

@media screen and (max-width: 600px) {
  .header__subtitle {
    letter-spacing: 0.23em;
  }
}

.header__title,
nav {
  text-align: left;
}

@media screen and (max-width: 800px) {
  .header__title,
  nav {
    text-align: center;
    padding: 0 0.7em;
  }
}

.nav {
  display: block;
  position: fixed;
  top: 33em;
}

@media screen and (max-width: 800px) {
  .nav {
    margin-top: 3em;
    padding-bottom: 1.2em;
    padding-top: 1em;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: #fff;
    -webkit-box-shadow: 0 4px 3px 0 rgba(255, 0, 0, 0.08);
            box-shadow: 0 4px 3px 0 rgba(255, 0, 0, 0.08);
  }
}

@media screen and (max-width: 600px) {
  .nav {
    margin-bottom: 2.5em;
  }
}

@media screen and (max-width: 800px) {
  .nav__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

.nav__menu a {
  color: #ff404e;
}

.nav__menu a:visited {
  color: #ff404e;
}

.main {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: main;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 800px) {
  .main {
    padding: 5em 5em 1em 5em;
  }
}

@media screen and (max-width: 600px) {
  .main {
    padding: 1em;
  }
}

.main__title {
  color: #ff404e;
  font-size: 1.5em;
  margin-bottom: 1.2em;
}

.gallery {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[11];
      grid-template-columns: repeat(11, 1fr);
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  grid-gap: .6em;
  margin-bottom: 6em;
}

@media screen and (max-width: 1000px) {
  .gallery {
    display: block;
  }
}

.gallery__item {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.gallery__item--1 {
  -ms-grid-column: span 6;
      grid-column-start: span 6;
}

.gallery__item--2 {
  -ms-grid-column: span 5;
      grid-column-start: span 5;
}

.gallery__item--3 {
  -ms-grid-column: span 5;
      grid-column-start: span 5;
}

.gallery__item--4 {
  -ms-grid-column: span 6;
      grid-column-start: span 6;
}

.gallery__item--5 {
  -ms-grid-column: span 11;
      grid-column-start: span 11;
}

.gallery__item--6 {
  -ms-grid-column: span 4;
      grid-column-start: span 4;
}

.gallery__item--7 {
  -ms-grid-column: span 7;
      grid-column-start: span 7;
}

.gallery__item--8 {
  -ms-grid-column: span 7;
      grid-column-start: span 7;
}

.gallery__item--9 {
  -ms-grid-column: span 4;
      grid-column-start: span 4;
}

.gallery__item--10 {
  -ms-grid-column: span 6;
      grid-column-start: span 6;
}

.gallery__item--11 {
  -ms-grid-column: span 5;
      grid-column-start: span 5;
}

.gallery__item--12 {
  -ms-grid-column: span 5;
      grid-column-start: span 5;
}

.gallery__item--13 {
  -ms-grid-column: span 6;
      grid-column-start: span 6;
}

.gallery__item--14 {
  -ms-grid-column: span 11;
      grid-column-start: span 11;
}

.gallery__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.gallery__caption {
  background-color: #ff404dde;
  position: absolute;
  width: 100%;
  padding: 1em;
  bottom: -20%;
  color: #fff;
  -webkit-transition: .2s ease;
  transition: .2s ease;
  opacity: 0;
}

@media screen and (max-width: 1000px) {
  .gallery__caption {
    opacity: 1;
    position: relative;
    top: -7px;
    margin-bottom: 1em;
    background-color: #ff404e;
  }
}

.gallery .gallery__item:hover .gallery__caption {
  opacity: 1;
  bottom: 0;
}

.gallery__modal {
  display: none;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  overflow-y: scroll;
}

.gallery__modal__content {
  max-width: 700px;
  margin: 0 auto;
  padding: 4em 0 2em 0;
}

@media screen and (max-width: 800px) {
  .gallery__modal__content {
    max-width: none;
    padding: 4em 3em 2em 3em;
  }
}

@media screen and (max-width: 600px) {
  .gallery__modal__content {
    padding: 3.5em 1em 1em 1em;
  }
}

.gallery__modal__icon-close {
  position: fixed;
  height: 4em;
  top: 3em;
  right: 2em;
  cursor: pointer;
}

@media screen and (max-width: 800px) {
  .gallery__modal__icon-close {
    height: 3em;
    top: 1em;
    right: 1em;
  }
}

@media screen and (max-width: 600px) {
  .gallery__modal__icon-close {
    height: 2em;
  }
}

.is-open {
  display: block;
}

.sobre-mi {
  height: 125%;
}

.sobre-mi__intro-wrapper {
  text-align: center;
  margin-bottom: 2em;
  position: relative;
}

.sobre-mi__intro {
  position: relative;
  display: inline-block;
  margin-top: 1em;
}

.sobre-mi__intro::after {
  content: "¡Encantada de conocerte!";
  font-family: "Damion", sans-serif;
  font-weight: 900;
  text-align: left;
  font-size: 2.9em;
  line-height: 1;
  position: absolute;
  width: 300px;
  top: 65%;
  left: 45%;
  color: #ff404e;
  z-index: 600;
  -webkit-transform: rotate(-10deg);
          transform: rotate(-10deg);
}

@media screen and (max-width: 600px) {
  .sobre-mi__intro::after {
    font-size: 2.5em;
    left: 25%;
    top: 69%;
    width: 205px;
  }
}

.sobre-mi__intro::before {
  content: "";
  width: 99%;
  height: 97.5%;
  border: 2px solid #101820;
  position: absolute;
  left: -15px;
  top: -15px;
  z-index: 400;
}

.sobre-mi__img {
  max-width: 300px;
  position: relative;
  z-index: 500;
}

@media screen and (max-width: 600px) {
  .sobre-mi__img {
    max-width: 200px;
  }
}

.skills {
  margin-top: 3em;
}

.skills img {
  width: 40px;
  vertical-align: middle;
}

.skills h4 {
  letter-spacing: .3px;
  border-bottom: 2px solid #ff404e;
  padding-bottom: .5em;
  margin-bottom: 1.5em;
}

.skills li {
  display: inline-block;
  margin-bottom: 1em;
  width: 200px;
  font-size: .8em;
  text-transform: uppercase;
}

@media screen and (max-width: 600px) {
  .skills li {
    width: 155px;
  }
}

.skills__list {
  margin-bottom: 2.5em;
}

footer {
  color: gray;
  font-size: .75em;
  text-transform: uppercase;
  text-align: center;
  margin-top: 6em;
  margin-bottom: 4em;
}

@media screen and (max-width: 800px) {
  footer {
    margin-bottom: 0;
  }
}
/*# sourceMappingURL=main.css.map */